/* start global rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.3s;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--seccolor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--maincolor-faded);
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--maincolor);
  opacity: 1;
}

:root {
  --rad: 16px;
  --maincolor: hsl(26, 100%, 55%);
  --maincolor-faded: hsla(26, 100%, 55%, 0.4);
  --seccolor: hsl(25, 100%, 94%);
  --dark-blue: hsl(220, 13%, 13%);
  --grey: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --Black: hsla(0, 0%, 0%, 0.75);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
}

ul {
  list-style: none;
}

p {
  color: var(--grey);
}

h1 {
  font-size: 3rem;
}
/* end global rules */

/* start my framework */

.scale:hover {
  transform: scale(1.05);
}

.mob {
  display: none;
}

.shad {
  box-shadow: 0 10px 10px 0 hwb(26 10% 0% / 0.3);
}

.my-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

i {
  cursor: pointer;
}

.rad {
  border-radius: var(--rad);
}

.point {
  cursor: pointer;
}

.grey {
  color: var(--grey);
}

.g-blue {
  color: var(--Grayish-blue);
}

.w400 {
  font-weight: 400;
}

.w700 {
  font-weight: 700;
}

span {
  color: var(--maincolor);
}

.maincol {
  color: var(--maincolor);
}

.op50:hover {
  opacity: 0.5;
}
/* end my framework */

header li {
  cursor: pointer;
  position: relative;
}

header li:hover {
  color: black;
}

header li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -24px;
  left: 0;
  background-color: var(--maincolor);
  transition: 0.3s;
}

header li:hover::after {
  width: 100%;
}

header img {
  border: 2px solid var(--maincolor);
  border-radius: 50%;
}

.main {
  gap: 8rem;
}

.imgs {
  width: 100%;
}

.thumb {
  cursor: pointer;
  position: relative;
}

.otherimgs .img {
  width: 20%;
  position: relative;
  cursor: pointer;
}

.img img {
  width: 100%;
}

.otherimgs .img:hover::before {
  /* opacity: 0.5; */
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
}

.active {
  border: 2px solid var(--maincolor);
}

.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
}

img.active::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: aqua;
}

.disc {
  font-size: 1rem;
  background-color: var(--seccolor);
  padding: 0.2em 0.5em;
  border-radius: 0.5rem;
}

.count {
  background-color: var(--Light-grayish-blue);
}

.addcont {
  color: white;
  background-color: var(--maincolor);
  padding: 1rem;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.overlay-cont {
  width: 90%;
  margin: auto;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.close {
  align-self: flex-end;
  margin-bottom: 1rem;
  color: white;
}

.slides {
  position: relative;
  margin-bottom: 1.7rem;
}

.slide {
  display: none;
}

.back,
.next {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--seccolor);
  color: black;
  border-radius: 50%;
  border: 1px solid var(--grey);
}

.next {
  right: 0;
  transform: translate(50%, -50%);
}

.back::before,
.next::before {
  top: 50%;
  position: absolute;
  transform: translate(100%, -50%);
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--up);
  width: 100%;
  text-align: center;
  color: white;
  padding: 0.4em;
  margin-top: auto;
  background-color: var(--maincolor);
}

.attribution a {
  text-decoration: underline;
}

.attribution a:hover {
  color: rgb(84, 166, 233);
}
