/* start global rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.3s;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar:hover {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bgcolor2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--logo);
  opacity: 0.7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text2);
  width: 50px;
  opacity: 1;
}

:root {
  --rad: 16px;
  --maincolor: hsl(26, 100%, 55%);
  --seccolor: hsl(25, 100%, 94%);
  --dark-blue: hsl(220, 13%, 13%);
  --grey: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --Black: hsla(0, 0%, 0%, 0.75);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: calc(100vh + 200px);
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
}

ul {
  list-style: none;
}

p {
  color: var(--grey);
}

h1 {
  font-size: 3rem;
}
/* end global rules */

/* start my framework */

.scale:hover {
  transform: scale(1.05);
}

.mob {
  display: none;
}

.shad {
  box-shadow: 0 10px 10px 0 hwb(26 10% 0% / 0.3);
}

.my-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

i {
  cursor: pointer;
}

.rad {
  border-radius: var(--rad);
}

.point {
  cursor: pointer;
}

.grey {
  color: var(--grey);
}

.g-blue {
  color: var(--Grayish-blue);
}

.w400 {
  font-weight: 400;
}

.w700 {
  font-weight: 700;
}

span {
  color: var(--maincolor);
}

.maincol {
  color: var(--maincolor);
}

/* end my framework */

li {
  cursor: pointer;
  position: relative;
}

li:hover {
  color: black;
}

li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -24px;
  left: 0;
  background-color: var(--maincolor);
  transition: 0.3s;
}

li:hover::after {
  width: 100%;
}

.main {
  gap: 8rem;
}

.imgs {
  width: 100%;
}

img {
  cursor: pointer;
  position: relative;
}

.otherimgs .img {
  width: 20%;
}

.active {
  border: 2px solid var(--maincolor);
}

.active img {
  opacity: 0.5;
}

img.active::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: aqua;
}

.disc {
  font-size: 1rem;
  background-color: var(--seccolor);
  padding: 0.2em 0.5em;
  border-radius: 0.5rem;
}

.count {
  background-color: var(--Light-grayish-blue);
}

.addcont {
  color: white;
  background-color: var(--maincolor);
  padding: 1rem;
  cursor: pointer;
}

.attribution {
  font-size: 14px;
  font-weight: 400;
  background-color: var(--up);
  width: 100%;
  text-align: center;
  color: var(--text-color);
  padding: 0.4em;
  margin-top: auto;
}

.attribution a {
  text-decoration: underline;
}

.attribution a:hover {
  color: rgb(84, 166, 233);
}
